<ion-header>
  <ion-toolbar>
    <ion-title>
      Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <h1 style="text-align: center">¿Ha olvidado su contraseña? no se preocupe aqui puede restestablecer su contraseña</h1>
      <ion-item>
        <ion-label position="floating">Correo Electronico</ion-label>
        <ion-input type="text" placeholder="Ingrese su Correo"></ion-input>
      </ion-item>
        <ion-button [routerLink]="['/home']">Recuperar Contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

 
